djangorestframework
django-cors-headers
django-colorfield
pillow
djoser

django-cleanup
django-ckeditor
django-filter
django-nested-inline
pytils
simplejson
selenium
selenium-requests

psycopg2
django-resized
drf-yasg
python-dateutil
openpyxl


